

.texto {
    src: url("/fonts/Roboto-Black.ttf");
    -fx-font-family: "Roboto Black";
}

.sideBarEventos {
    -fx-font-size: 25px;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-alignment: TOP_LEFT;

    src: url("/fonts/Roboto-Regular.ttf");
        -fx-font-family: "Roboto Regular";
}

.sideBarEventos:hover {
    -fx-background-color: rgba(120, 0, 255, 0.4);

}

.sideBarEventos:pressed {
    -fx-background-color: rgba(120, 0, 255, 0.2);

}

.separator:vertical .line {     /* cor da linha */
    -fx-border-color: #3b3b3b;
    -fx-border-width: 1px;
}
