.label {
    -fx-text-fill: white;
}

.botaoEventos {
    -fx-background-color: transparent;
    -fx-background-image: url("imagens/iconeCalendarioBranco.png");
    -fx-background-size: 40px;
    -fx-background-repeat: no-repeat;
    -fx-text-fill: white;
}

.botaoEventos:hover {
    -fx-background-color: rgba(120, 0, 255, .3);
    -fx-background-image: url("imagens/iconeCalendarioRoxo.png");
    -fx-text-fill: #7800ff;
}


.botaoPessoas {
    -fx-background-color: transparent;
    -fx-background-image: url("imagens/pessoaBranco.png");
    -fx-background-size: 40px;
    -fx-background-repeat: no-repeat;
    -fx-text-fill: white;
}

.botaoPessoas:hover {
    -fx-background-color: rgba(120, 0, 255, .3);
    -fx-background-image: url("imagens/pessoaRoxo.png");
    -fx-text-fill: #7800ff;
}

.botaoSalas {
    -fx-background-color: transparent;
    -fx-background-image: url("imagens/iconeSalaBranco.png");
    -fx-background-size: 40px;
    -fx-background-repeat: no-repeat;
    -fx-text-fill: white;
}

.botaoSalas:hover {
    -fx-background-color: rgba(120, 0, 255, .3);
    -fx-background-image: url("imagens/iconeSalaRoxo.png");
    -fx-text-fill: #7800ff;
}


.botaoLateral {
    -fx-background-color: transparent;
    -fx-background-size: 40px;
    -fx-text-fill: white;
}

.botaoLateral:hover {
    -fx-background-color: rgba(120, 0, 255, .3);
    -fx-text-fill: #7800ff;
}


.botaoFechar {
    -fx-text-fill: red;
    -fx-border-color: red;
    -fx-font-size: 16px;
    -fx-background-color: black;
}

.botaoFechar:hover {
    -fx-background-color: rgba(63, 0, 0, 0.8);
    -fx-font-size: 16px;
}