

.texto {
    src: url("/fonts/Roboto-Black.ttf");
    -fx-font-family: "Roboto Black";
}

.sideBarEventos {
    -fx-font-size: 25px;
    -fx-background-color: transparent;
    -fx-text-fill: #7a7a7a;
}

.sideBarEventos:hover {
    -fx-text-fill: white;
    -fx-background-color: grey;
    -fx-opacity: 0.3;
}

.sideBarEventos:pressed {
    -fx-text-fill: white;
    -fx-background-color: #4f4f4f;
    -fx-opacity: 0.3;
}